@model int

<div class="text-center">
    <h1 class="text-info pt-4">¡Felicidades! Estás un paso más cerca de una comida increíble..</h1>
    <p class="pb-3">¡Hemos recibido su pedido y estaremos listos en 30 minutos durante el horario habitual!</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/order.PNG" width="80%" />
</div>